.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: flex-start;
  position: relative;
}

.App-header {
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App-content {
  padding: 1em;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.7);
}

.App-link {
  color: #61dafb;
}

.App-footer {
  justify-self: flex-end;
  margin-top: auto;
  padding:1em;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
