@font-face {
  font-family: 'SingleDay';
  src: local('SingleDay'), url(./fonts/SingleDay-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'SingleDay', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
